.btn-success {
    text-align:center;
    border-bottom: 6px solid ;
    position: static;
    padding: 5px 33px;
    }
.btn-info{
    text-align:center;
    border-bottom: 6px solid ;
    position:static;
    padding: 5px 33px;
  


}