<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>
<h3> Create Rdv</h3>
<form #rdvform="ngForm" (ngSubmit) = "onSubmit(rdvform)">
    <div class="form-group">
        <label>date</label>
        <input type="text" class="form-control" id="date" name = "date" ngModel required> 
    </div>
    <div class="form-group ">
        <label>Subject : </label>
        <select name = "subject"  ngModel required>
            <option value = "Admin">Sante</option>
            <option value = "User">education</option>
            <option value = "Admin">assiduite</option>
        </select>
       </div>
       <div class="form-group">
        <label>User</label>
        <input type="text" class="form-control" id="user" name = "user" ngModel required> 
    </div>
    <!--<div class="form-group">
        <label>kinderGarden</label>
        <input type="text" class="form-control" id="kinderGarden"
            [(ngModel)] = "rdv.kinderGarden" name = "kinderGarden"> 
    </div>-->

    <!--<div class="form-group">
        <label>User</label>
        <input type="text" class="form-control" id="User" name = "User"> 
    </div>-->

    <button class = "btn btn-success" type = "submit">Submit</button>
    <a class="btn btn-primary" href="rdv-list" class =  "btn btn-danger" style="margin-left: 10px" role="button">Back</a>

</form>
</body>
</html>
