<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">  
                <a routerLink="rdv-list" routerLinkActive="active" class="nav-link" >Rdv List</a>
            </li>
            <li class = "nav-item">
                <a routerLink="create-rdv" routerLinkActive="active" class="nav-link" >Add Rdv</a>
            </li>
        </ul>
    </nav>-->
    <!--<div class = "container">
        <router-outlet></router-outlet>
    </div>-->
    