<!--
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav ">
      <li class = "nav-item">
      <a [routerLink]="['/add-user']" class="nav-link">
          <span>Add User</span>
      </a>
      </li>
      <li class = "nav-item">
      <a [routerLink]="['/retrieve-all-users']" class="nav-link">
          <span>Users list</span>
      </a>
      </li>
      <li class = "nav-item">
        <a [routerLink]="['/retrieve-all-profiles']" class="nav-link">
            <span>Profiles list</span>
        </a>
      </li>
      </ul>
    </nav>
</div>
-->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="assets/images.jpg" width="48" height="48" alt="User" />
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrator </div>
        <div class="email">Admin.student@esprit.tn</div>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
          <a [routerLink]="['/postlistadmin']">
            <i class="material-icons">home</i>
            <span>Accueil</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['/rdv-list']">
            <!--<i class="material-icons">calendar</i>-->
            <span>Rendez-vous</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['/sendingemail']">
            <!--<i class="material-icons">Sending email</i>-->
            <span>Sending email</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['/list-conversation']">
            <!--<i class="material-icons">Chat</i>-->
            <span>Chat</span>
          </a>
        </li>
       

        <li class="active" >
          <a [routerLink]="['/eventlist']" >
            <!--<i class="material-icons">calendar</i>-->
            <span>Event List </span>
          </a>
        </li>

        <li class="active">
          <a [routerLink]="['/createevent']">
            <!--<i class="material-icons">calendar</i>-->
            <span>Add Event</span>
          </a>
        </li>

        <li class="active">
          <a [routerLink]="['/statevent']">
            <!--<i class="material-icons">calendar</i>-->
            <span>Statistics  Event </span>
          </a>
        </li>
        
       
       
        <!--<li class="active">
          <a [routerLink]="['/addpost']">
            <i class="material-icons">widgets</i>
            <span>Add Post</span>
          </a>
        </li>-->
      </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        ESPRIT : Ecole Sup Privée d'Ingénierie 
        et de Technologies
        @esprit.tn  · Enseignement supérieur
      </div>
      <div class="version">
        <b>   @esprit.tn  </b> · Enseignement supérieur 
      </div>
    </div>
    <!-- #Footer -->
  </aside>
</section>



