<h1 class="text-center"> Chat </h1>
<div class="" id="page-wrapper">
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-10 col-md-8">
    <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
    <div class="row">
    <div class="col-lg-4   justify-content-center">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a routerLink="list-message" routerLinkActive="active" class="nav-link" >List message</a>
                </li>
                <li class = "nav-item">
                    <a routerLink="send-message" routerLinkActive="active" class="nav-link" >Add Message</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>

<div class = "container">
    <router-outlet></router-outlet>
</div>
